<div class="controls">
  <%= erb :pager %>

  <form method="get">
    <select name="type" onchange="this.form.submit()">
      <option value="">All</option>
      <% @run_types.each do |run_type| %>
        <option value="<%= run_type %>" <% if params['type'] == run_type %>selected<% end %>><%= run_type %></option>
      <% end %>
    </select>
    <input type="submit" value="Filter">
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>start_at</th>
      <th>duration (s)</th>
      <th>type</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <% @run_logs.each_index do |i| %>
      <% log = @run_logs[i] %>
      <tr class="<% if i % 2 == 0 %>even<% end %>">
        <td>
          <a href="<%= url("/run/#{log[:id]}") %>"><%= log[:id] %></a><% if log[:keep] %>*<% end %>
        </td>
        <td><%= log[:start_at].strftime('%F %H:%M')  %></td>
        <td><%= (log[:end_at] - log[:start_at]).round(2) %></td>
        <td><%= log[:type] %></td>
        <td><%= log[:status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
