<% unless @first_path.nil? %>
  <a href="<%= @first_path %>">first</a>
  |
<% end %>

<% unless @next_path.nil? %>
  <a href="<%= @next_path %>">newer</a>
<% end %>
<% unless @next_path.nil? %>
  |
<% end %>

<% unless request.path == '/' %>
  <a href="/">index</a>
  |
<% end %>

<% unless @page.nil? || @pages.nil? %>
  <%= @page %>
  /
  <%= @pages %>
<% end %>

<% unless @total.nil? %>
  (<%= @total %>)
<% end %>

<% unless @previous_path.nil? %>
  |
  <a href="<%= @previous_path %>">older</a>
<% end %>

<% unless @last_path.nil? %>
  |
  <a href="<%= @last_path %>">last</a>
<% end %>
