<table>
  <tbody>
    <tr>
      <th>session_id</td>
      <td><%= @log[:session_id] %></td>
    </tr>
    <tr>
      <th>last_url</td>
      <td><%= @log[:last_url] %></td>
    </tr>
    <tr>
      <th>start_at</td>
      <td><%= @log[:start_at] %></td>
    </tr>
    <tr>
      <th>end_at</td>
      <td><%= @log[:end_at] %></td>
    </tr>
    <tr>
      <th>status</td>
      <td><%= @log[:status] %></td>
    </tr>

    <% ['console_events', 'network_events', 'driver_events'].each do |log_type| %>
      <tr>
        <th><%= log_type %></th>
        <td>
          <% unless @log["#{log_type}_path".to_sym].nil? %>
            <a href="/<%= @log["#{log_type}_path".to_sym] %>">download</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>error</th>
  </tr>
  <tr>
    <td>
      <pre><%= @log[:error] %></pre>
    </td>
  </tr>

  <tr>
    <th>last_screenshot</th>
  </tr>
  <tr>
    <td>
      <% unless @log[:last_screenshot_path].nil? %>
        <img src="/<%= @log[:last_screenshot_path] %>" />
      <% end %>
    </td>
  </tr>

  <tr>
    <th>page_source</th>
  </tr>
  <tr>
    <td>
      <%= "#{Dir.pwd}/lib/web/public/#{@log[:page_source_path]}" %>
      <% unless @log[:page_source_path].nil? %>
        <% File.open("#{Dir.pwd}/lib/web/public/#{@log[:page_source_path]}", 'r') do |f| %>
          <iframe srcdoc="<% f.each_line do |l| %><%= CGI.escapeHTML(l) %><% end %>"></iframe>
        <% end %>
      <% end %>
    </td>
  </tr>
  
</table>
