<%= erb :pager %>

<form method="get">
  <div class="grid">
    <div>
      <select name="type" title="type" onchange="this.form.submit()">
        <option value="">All</option>
        <% @run_types.each do |run_type| %>
          <option value="<%= run_type %>" <% if params['type'] == run_type %>selected<% end %>><%= run_type %></option>
        <% end %>
      </select>
    </div>

    <div>
      <select name="status" title="status" onchange="this.form.submit()">
        <option value="">All</option>
        <% @run_statuses.each do |run_status| %>
          <option value="<%= run_status %>" <% if params['status'] == run_status %>selected<% end %>><%= run_status %></option>
        <% end %>
      </select>
    </div>

    <div>
      <input type="submit" value="Filter">
    </div>
  </div>
</form>

<table role="grid">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">start_at</th>
      <th scope="col">duration (s)</th>
      <th scope="col">type</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    <% @run_logs.each_index do |i| %>
      <% log = @run_logs[i] %>
      <tr>
        <th scope="row">
          <a href="<%= url("/run/#{log[:id]}") %>?<%= URI.encode_www_form(type: request.params['type'], status: request.params['status'])%>"><%= log[:id] %></a><% if log[:keep] %>*<% end %>
        </td>
        <td><%= log[:start_at].strftime('%y.%m.%d %H:%M')  %></td>
        <td>
          <% unless log[:end_at].nil? %>
            <%= (log[:end_at] - log[:start_at]).round(2) %>
          <% end %>
        </td>
        <td><%= log[:type] %></td>
        <td><%= log[:status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= erb :pager %>
