<div class="split-nav">
  <aside>
    <nav>
      <details open>
        <summary><%= t.run.type.title %></summary>
        <ul>
          <li>
            <a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(status: request.params['status']), request:) %>" <% if params['type'].nil? %>class="contrast"<% end %>>
              All
            </a>
          </li>
          <% @run_types.each do |run_type| %>
            <li>
              <a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(type: run_type, status: request.params['status']), request:) %>" <% if params['type'] == run_type %>class="contrast"<% end %>>
                <%= run_type %>
              </a>
            </li>
          <% end %>
        </ul>
      </details>

      <details open>
        <summary><%= t.service.status.title %></summary>
        <%= erb :status, layout: false, locals: { service: :selenium } %>
      </details>
    </nav>
  </aside>

  <section>
    <%= erb :pager %>

    <% @running_logs.each do |log| %>
      <article>
        <header aria-busy="true" align="center"><%= t.run.status[log[:status]].text %></header>

        <table>
          <tbody>
            <% [:id, :session_id, :start_at, :type].each do |col| %>
              <tr>
                <th scope="row"><strong><%= t.run[col.to_s].title %></strong></th>
                <td><%= log[col] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </article>
    <% end %>

    <form method="get">
      <div class="grid">
        <div>
          <select name="status" title="status" onchange="this.form.submit()">
            <option value="">All</option>
            <% @run_statuses.each do |run_status| %>
              <option value="<%= run_status %>" <% if params['status'] == run_status %>selected<% end %>>
              <%= t.run.status[run_status].text %>
              </option>
            <% end %>
          </select>
        </div>

        <div>
          <input type="hidden" name="type" value="<%= request.params['type'] %>">
          <input type="submit" value="Filter">
        </div>

        <div>
          <a href="<%= Termin::Web::Url.index_url(query: nil, request: request) %>" role="button" class="outline">Reset</a>
        </div>
      </div>
    </form>

    <% if @run_logs.empty? %>
      <article><i><%= t.index.no_results %></i></article>
    <% else %>
      <table role="grid">
        <thead>
          <tr>
            <th scope="col"><%= t.run.id.title %></th>
            <th scope="col"><%= t.run.start_at.title %></th>
            <th scope="col" class="sm-hidden"><%= t.run.duration.title %></th>
            <% if request.params['type'].nil? || request.params['type'].empty? %>
              <th scope="col"><%= t.run.type.title %></th>
            <% end %>
            <th scope="col"><%= t.run.status.title %></th>
          </tr>
        </thead>

        <tbody>
          <% @run_logs.each do |log| %>
            <tr>
              <th scope="row">
                <a href="<%= Termin::Web::Url.run_url(log[:id], query: Termin::Web::Url.query(type: request.params['type'], status: request.params['status']), request:) %>"><%= log[:id] %></a><% if log[:keep] %>*<% end %>
              </th>
              <td><%= log[:start_at].strftime('%m.%d %H:%M')  %></td>
              <td class="sm-hidden">
                <% unless log[:end_at].nil? %>
                  <%= (log[:end_at] - log[:start_at]).round(2) %>
                <% end %>
              </td>

              <% if request.params['type'].nil? || request.params['type'].empty? %>
                <td>
                  <a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(type: log[:type], status: request.params['status']), request:) %>">
                    <%= log[:type] %>
                  </a>
                </td>
              <% end %>

              <td>
                <a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(type: request.params['type'], status: log[:status]), request:) %>">
                  <span class="md-hidden"><%= t.run.status[log[:status]].icon %></span>
                  <span class="sm-hidden"><%= t.run.status[log[:status]].text %></span>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= erb :pager %>
  </section>
</div>
