<div class="split-nav">
  <aside>
    <nav>
      <details open>
        <summary><%= t.run.type.title %></summary>
        <ul>
          <li>
            <a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(status: request.params['status']), request:) %>" <% if params['type'].nil? %>class="contrast"<% end %>>
              All
            </a>
          </li>
          <% @run_types.each do |run_type| %>
            <li>
              <a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(type: run_type, status: request.params['status']), request:) %>" <% if params['type'] == run_type %>class="contrast"<% end %>>
                <%= run_type %>
              </a>
            </li>
          <% end %>
        </ul>
      </details>

      <%= erb :status, layout: false, locals: { service: :runner } %>
      <%= erb :status, layout: false, locals: { service: :selenium } %>
    </nav>
  </aside>

  <section>
    <%= erb :pager %>

    <form method="get">
      <div class="grid">
        <div>
          <select name="status" title="status" onchange="this.form.submit()">
            <option value="">All</option>
            <% @run_statuses.each do |run_status| %>
              <option value="<%= run_status %>" <% if params['status'] == run_status %>selected<% end %>>
              <%= t.run.status[run_status].text %>
              </option>
            <% end %>
          </select>
        </div>

        <div>
          <input type="hidden" name="type" value="<%= request.params['type'] %>">
          <input type="submit" value="Filter">
        </div>

        <div>
          <a href="<%= Termin::Web::Url.index_url(query: nil, request: request) %>" role="button" class="outline">Reset</a>
        </div>
      </div>
    </form>

    <%= erb :run_logs, layout: false, locals: { run_logs: @run_logs } %>

    <%= erb :pager %>
  </section>
</div>
