<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= t.brand.termin_bot %><% unless @title.nil? || @title.empty? %> - <%= @title %><% end %></title>
    <link rel="stylesheet" href="/dist/css/default.css">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/berlin_de.svg" type="image/svg+xml">
  </head>
  <body>
    <% if @dev %><mark class="grid" align="center"><small><strong>DEV</strong></small></mark><% end %>
    <nav class="container-fluid">
      <ul>
        <li>
          <img class="logo dark-hidden" title="Berlin" src="/img/logo_berlin_m_srgb.svg" alt="Berlin">
          <img class="logo light-hidden" title="Berlin" src="/img/logo_berlin_m_negativ.svg" alt="Berlin">
          <span class="md-hidden">🤖</span>
          <strong class="sm-hidden"><%= t.brand.termin_bot %></strong>
        </li>
      </ul>
      <ul>
        <li>
          <a href="<%= ENV['TELEGRAM_BOT_URL'] %>" role="button" class="secondary outline">
            <%= t.nav.telegram %>
          </a>
        </li>
        <li>
          <a href="<%= Termin::Web::Url.index_url(query: Termin::Web::Url.query(**request.params), request:) %>" role="button" class="contrast">
            <%= t.nav.index %>
          </a>
        </li>
      </ul>
    </nav>

    <main>
      <%= yield %>
    </main>
    <script src="/dist/js/index.js"></script>
  </body>
</html>
