<section align="center">
  <nav>
    <ul>
      <% unless @first_path.nil? %>
        <li><a href="<%= @first_path %>">first</a></li>
      <% end %>

      <% unless @next_path.nil? %>
        <li><a href="<%= @next_path %>">newer</a></li>
      <% end %>

      <% unless request.path == '/' %>
        <li><a href="/">index</a></li>
      <% end %>

      <% unless @previous_path.nil? %>
        <li><a href="<%= @previous_path %>">older</a></li>
      <% end %>

      <% unless @last_path.nil? %>
        <li><a href="<%= @last_path %>">last</a></li>
      <% end %>
    </ul>
  </nav>

  <% unless @page.nil? || @pages.nil? %>
    <small>
      <%= @page %>
      /
      <%= @pages %>

      <% unless @total.nil? %>
        (<%= @total %>)
      <% end %>
    </small>
  <% end %>
</section>
