<%= erb :pager %>

<table>
  <tbody>
    <tr>
      <th scope="row">session_id</td>
      <td><code><%= @log[:session_id] %></code></td>
    </tr>
    <tr>
      <th scope="row">type</td>
      <td><code><%= @log[:type] %></code></td>
    </tr>
    <tr>
      <th scope="row">last_url</td>
      <td><code><%= @log[:last_url] %></code></td>
    </tr>
    <tr>
      <th scope="row">start_at</td>
      <td><%= @log[:start_at] %></td>
    </tr>
    <tr>
      <th scope="row">end_at</td>
      <td><%= @log[:end_at] %></td>
    </tr>
    <tr>
      <th scope="row">time</td>
      <td>
        <% if @log.key?(:end_at) && @log.key?(:start_at) %>
          <%= (@log[:end_at] - @log[:start_at]).round(2) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">status</td>
      <td><%= @log[:status] %></td>
    </tr>

    <% ['console_events', 'network_events', 'driver_events'].each do |log_type| %>
      <tr>
        <th><%= log_type %></th>
        <td>
          <% unless @log["#{log_type}_path".to_sym].nil? %>
            <a href="/<%= @log["#{log_type}_path".to_sym] %>">download</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<details open>
  <summary>error</summary>
  <% unless @log[:error].nil? %>
    <code><%= CGI::escapeHTML(@log[:error]) %></code>
  <% end %>
</details>

<details>
  <summary>last_screenshot</summary>
  <% unless @log[:last_screenshot_path].nil? %>
    <figure>
      <img src="/<%= @log[:last_screenshot_path] %>" />
    </figure>
  <% end %>
</details>

<details>
  <summary>page_source</summary>
  <% unless @log[:page_source_path].nil? %>
    <% File.open("#{Dir.pwd}/web/public/#{@log[:page_source_path]}", 'r') do |f| %>
      <iframe srcdoc="<% f.each_line do |l| %><%= CGI.escapeHTML(l) %><% end %>"></iframe>
    <% end %>
  <% end %>
  </summary>
</details>
