<h1><%= t.run.title(@log[:id]) %></h1>

<%= erb :pager %>

<div class="split-even">
  <div>
    <table>
      <tbody>
        <% [:session_id, :type, :start_at, :end_at, :duration, :status, :last_url].each do |col| %>
          <tr>
            <th scope="row"><%= t.run[col.to_s].title %></td>
            <td>
              <% case col when :duration %>
                <% unless @log[:end_at].nil? %>
                  <%= (@log[:end_at] - @log[:start_at]).round(2) %>
                <% end %>
              <% when :status %>
                <%= t.run.status[@log[:status]].icon %>
                <%= t.run.status[@log[:status]].text %>
              <% when :type %>
                <%= @log[col] %>
              <% else %>
                <code><%= @log[col] %></code>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% ['console_events', 'network_events', 'driver_events'].each do |log_type| %>
          <tr>
            <th><%= t.run.log_type[log_type].title %></th>
            <td><a href="<%= Termin::Web::Url.run_file_url(@log[:id], log_type) %>">download</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <details open>
      <summary><i data-feather="file-text"></i> history</summary>
      <% unless @history.nil? || @history.empty? %>
        <div>
          <table>
            <thead>
              <th scope="col"><%= t.run_history.id.title %></th>
              <th scope="col"><%= t.run_history['method'].title %></th>
              <th scope="col"><%= t.run_history.start_at.title %></th>
              <th scope="col"><%= t.run_history.duration.title %></th>
            </thead>
            <tbody>
              <% @history.each do |step| %>
                <tr>
                  <th scope="row"><%= step[:step] %></th>
                  <td><%= step[:method] %></td>
                  <td><code><%= step[:start_at] %></code></td>
                  <td>
                    <% unless step[:end_at].nil? %>
                      <%= (step[:end_at] - step[:start_at]).round(2) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </details>
  </div>
</div>

<div>
  <details open>
    <summary>error</summary>
    <% unless @log[:error].nil? %>
      <code><%= CGI::escapeHTML(@log[:error]) %></code>
    <% end %>
  </details>

  <details>
    <summary>last_screenshot</summary>
    <figure><img src="<%= Termin::Web::Url.run_file_url(@log[:id], 'last_screenshot.png') %>" /></figure>
  </details>

  <details>
    <summary>page_source</summary>
    <iframe src="<%= Termin::Web::Url.run_file_url(@log[:id], 'page_source') %>"></iframe>
    </summary>
  </details>
</div>
